/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center; 
}

/* Título principal */
h1 {
    color: #333;
    text-align: center; 
}

/* Estilo do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: left; 
}

/* Labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Inputs de texto e número */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Campo de texto para review */
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    height: 100px; /* Altura padrão para o campo de review */
}

/* Botão de envio de review */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#rating {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
}

/* Mensagem de envio do review */
#review-message {
    margin-top: 20px;
    color: #4CAF50;
    text-align: center;
}

/* Estilo das notas de avaliações */
.review {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px auto;
    text-align: left;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    position: relative;
}
.review::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review h3 {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}
.review p {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}

/* Estilo das estrelas de avaliação */
.review .fa-star {
    color: #FFD700; /* Cor dourada para as estrelas */
    margin-right: 2px;
}

